<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns:context="http://www.springframework.org/schema/context"
	 xmlns:util = "http://www.springframework.org/schema/util"
	 xmlns:jee =" http://www.springframework.org/schema/jee"
	 xmlns:tx ="http://www.springframework.org/schema/tx"
	 xmlns:jdbc ="http://www.springframework.org/schema/jdbc"
	 xmlns:jpa = "http://www.springframework.org/schema/data/jpa"
	 xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	        http://www.springframework.org/schema/beans/spring-beans.xsd
	          						http://www.springframework.org/schema/context
	        http://www.springframework.org/schema/context/spring-context.xsd
	        						http://www.springframework.org/schema/util 
	        http://www.springframework.org/schema/util/spring-util.xsd
	        						http://www.springframework.org/schema/jee 
	        http://www.springframework.org/schema/jee/spring-jee.xsd
	         						http://www.springframework.org/schema/tx 
	         http://www.springframework.org/schema/tx/spring-tx.xsd 
	         						http://www.springframework.org/schema/jdbc 
	         http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
	         						http://www.Springframework.org/schema/data/jpa
	         http://www.Springframework.org/schema/data/jpa/spring-jpa.xsd
	         						http://www.springframework.org/schema/mvc 
	         http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!--容器实列化自动扫描 com.zc.controller下的包及其子包下所有组件类   扫描组件-->   
	<context:component-scan base-package="com.zc.controller"/>	
	<!--开启 @RequestMapping 注解映射 注册默认处理请求，参数和返回值的类-->
	<mvc:annotation-driven/>
	
	<!--定义视图解析器viewResolve -->
	<bean id="viewResolve" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!--Spring 下CommonsMultipartResolver文件上传功能 , CommonsMultipartResolver类  
		  是spring在apache common fileupload组件的基础上,进行了一层封装，使用更方便。-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<!--限制上传文件大小  上传文件大于51200byte上传 报HTTP状态500-请求处理失败-->
		<property name="maxUploadSize" value="51200"/>
		<property name="resolveLazily" value="true"/>
	</bean>
</beans>
